.titulos{
    color: rgb(106, 85, 115);
    background-color: rgb(223, 207, 235);
    font-family: 'Times New Roman', Times, serif;
    font-size: 18pt;
    text-align: center;
}

#p1{
    color:rgb(106, 85, 115);
    font-size: 15pt;

}

#p2{
    background-color:rgb(223, 207, 235); 
    font-family: 'Times New Roman', Times, serif;
    color:rgb(106, 85, 115);
}

iframe{
    width: 350px;
    height:250px;
    border-radius: 15%;
}

body{
    background-color: rgb(244, 232, 237);
}

