
p{
    color:blueviolet;
    font-size: 18pt;
    font-family: 'Times New Roman', Times, serif;
}
            
#p1{
    background-color: rgb(231, 196, 218);
}

#p2{
    background-color: rgb(206, 171, 230);
}


.pb{
   color: white;
   background-color: black; 
}

a:hover{
    background-color: rgb(91, 168, 173);
}

p{
    color:blueviolet;
    font-size: 18pt;
    font-family: 'Times New Roman', Times, serif;
}
            
#p1{
    background-color: rgb(231, 196, 218);
}

#p2{
    background-color: rgb(206, 171, 230);
}


.pb{
   color: white;
   background-color: black; 
}

a:hover{
    background-color: rgb(91, 168, 173);

}