#title{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgba(191, 218, 228, 0.6);
    color: rgb(47, 83, 114);
    text-align: center;

}

#p1{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(5, 60, 80);
    color: rgb(255, 255, 255);
    display: block;
    width: 500px;
}

#p2{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    background-color:rgb(5, 60, 80);
    color: rgb(255, 255, 255);
    width: 500px;
    height: 200px;
    border-radius: 3%;
}