#do{border-style: dotted;}
#da{border-style: dashed;}
#so{border-style: solid;}
#db{border-style: double;}
#gr{border-style: groove;}
#ri{border-style: ridge;}
#ex{
    font-size: 20px;
    padding: 20px;
    width: 100px;
    height: 40px;
    border: solid, pink;
    border-radius: 20px;
    margin: 20px;
    box-shadow: 10px 10px palevioletred;
    color: rgb(66, 24, 49);

}

p{display: block;}

a{display: inline;}

#d1{
    background-color: rgb(237, 83, 221);
    width: 20px;
    height: 20px;
    position: relative;
    top: 100px;
    left: 50px;
}

#d2{
    background-color: rgb(208, 113, 237);
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 20%;
    right: 50%;
}

#d3{
    background-color: rgb(142, 231, 228);
    width: 20px;
    height: 20px;
    position: fixed;
    bottom: 0%;
    left: 0%;
    z-index: 2;
}

p:hover{
    background-color: pink;

}
